In [1]:
import pandas as pd
import apriori_functions
import define_
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

In [2]:
dataSet = pd.read_csv(define_.DATA_FILE_PATH)
dataSet.head()

f:\academic\sem7\fyp\codes\apriori\venv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,No.,Time,Source,Destination,Protocol,Length,Info,Src_port,Dst_port,Class
0,1,0.000000,11.0.0.33,10.0.0.35,TCP,74.0,"22 > 48308 [SYN, ACK] Seq=0 Ack=1 Win=27960 ...",22.0,48308.0,A2
1,2,0.003648,11.0.0.85,10.0.0.35,TCP,74.0,"22 > 32896 [SYN, ACK] Seq=0 Ack=1 Win=27960 ...",22.0,32896.0,A2
2,3,0.007831,11.0.0.33,10.0.0.35,SSH,110.0,Server: Protocol (SSH-2.0-OpenSSH_6.6.1p1 Ubun...,22.0,48308.0,A2
3,4,0.007972,11.0.0.192,10.0.0.35,TCP,74.0,"22 > 58726 [SYN, ACK] Seq=0 Ack=1 Win=27960 ...",22.0,58726.0,A2
4,5,0.008050,11.0.0.85,10.0.0.35,TCP,66.0,22 > 32896 [ACK] Seq=1 Ack=42 Win=27968 Len=...,22.0,32896.0,A2

In [3]:
dataSet = dataSet.sample(1000)

In [4]:
dataSet

,No.,Time,Source,Destination,Protocol,Length,Info,Src_port,Dst_port,Class
59809,59319,1.521656,11.0.0.33,10.0.0.35,TCP,54.0,"65138 > 38438 [RST, ACK] Seq=1 Ack=1 Win=0 L...",65138.0,38438.0,A1
185217,184727,5.836673,11.0.0.33,10.0.0.35,TCP,54.0,"18073 > 40472 [RST, ACK] Seq=1 Ack=1 Win=0 L...",18073.0,40472.0,A1
124814,124324,3.482118,11.0.0.33,10.0.0.35,TCP,54.0,"51137 > 45314 [RST, ACK] Seq=1 Ack=1 Win=0 L...",51137.0,45314.0,A1
10121,9631,0.264158,11.0.0.85,10.0.0.35,TCP,54.0,"5797 > 53082 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0",5797.0,53082.0,A1
151002,150512,4.509277,11.0.0.85,10.0.0.35,TCP,54.0,"14431 > 44296 [RST, ACK] Seq=1 Ack=1 Win=0 L...",14431.0,44296.0,A1
...,...,...,...,...,...,...,...,...,...,...
123300,122810,3.397619,11.0.0.33,10.0.0.35,TCP,54.0,"62347 > 58254 [RST, ACK] Seq=1 Ack=1 Win=0 L...",62347.0,58254.0,A1
7806,7316,0.203023,11.0.0.192,10.0.0.35,TCP,54.0,"36429 > 50922 [RST, ACK] Seq=1 Ack=1 Win=0 L...",36429.0,50922.0,A1
59363,58873,1.508928,11.0.0.192,10.0.0.35,TCP,54.0,"25813 > 35832 [RST, ACK] Seq=1 Ack=1 Win=0 L...",25813.0,35832.0,A1
175074,174584,5.538249,11.0.0.33,10.0.0.35,TCP,54.0,"18 > 50486 [RST, ACK] Seq=1 Ack=1 Win=0 Len=0",18.0,50486.0,A1
139272,138782,4.070883,11.0.0.33,10.0.0.35,TCP,54.0,"21544 > 33236 [RST, ACK] Seq=1 Ack=1 Win=0 L...",21544.0,33236.0,A1

In [3]:
dataSet = apriori_functions.preProcessing(dataSet)
dataSet

F:\Academic\sem7\FYP\codes\Apriori\apriori_functions.py:143: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Dst_ip_range'] = dataSet.apply(lambda row: check_ip(str(row["Destination"])), axis=1)
F:\Academic\sem7\FYP\codes\Apriori\apriori_functions.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Direction'] = dataSet.apply(lambda row: check_direction(str(row["Destination"]), cidr), axis=1)

       Protocol Length   Dst_port Class Dst_ip_range Direction
0         p-TCP  l-1.0  d-48308.0  c-A2    r-PRIVATE     x-OUT
1         p-TCP  l-1.0  d-32896.0  c-A2    r-PRIVATE     x-OUT
2         p-SSH  l-1.0  d-48308.0  c-A2    r-PRIVATE     x-OUT
3         p-TCP  l-1.0  d-58726.0  c-A2    r-PRIVATE     x-OUT
4         p-TCP  l-1.0  d-32896.0  c-A2    r-PRIVATE     x-OUT
...         ...    ...        ...   ...          ...       ...
197904    p-SSH  l-2.0  d-60924.0  c-A1    r-PRIVATE     x-OUT
197905    p-SSH  l-1.0  d-60924.0  c-A1    r-PRIVATE     x-OUT
197906    p-SSH  l-1.0  d-60924.0  c-A1    r-PRIVATE     x-OUT
197907    p-SSH  l-1.0  d-60924.0  c-A1    r-PRIVATE     x-OUT
197908    p-TCP  l-1.0  d-60924.0  c-A1    r-PRIVATE     x-OUT

[197909 rows x 6 columns]

In [6]:
dataSet.columns

Index(['Protocol', 'Length', 'Dst_port', 'Class', 'Dst_ip_range', 'Direction'], dtype='object')

In [4]:
te = TransactionEncoder()
te_ary = te.fit(dataSet.to_numpy()).transform(dataSet.to_numpy(), sparse=True)
transformed_df = pd.DataFrame.sparse.from_spmatrix(te_ary, columns=te.columns_)
transformed_df

,c-A1,c-A2,c-A3,d-22.0,d-32768.0,d-32770.0,d-32772.0,d-32774.0,d-32776.0,d-32778.0,...,p-ARP,p-DNS,p-SSH,p-SSHv2,p-TCP,r-NON,r-PRIVATE,r-PUBLIC,x-NON,x-OUT
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,True,0,0,True
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,True,0,0,True
2,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,True,0,0,True
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,True,0,0,True
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,True,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197904,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,True,0,0,True
197905,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,True,0,0,True
197906,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,True,0,0,True
197907,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,True,0,0,True
197908,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,True,0,0,True

In [6]:
freqItemsets = apriori(transformed_df, min_support=0.1, use_colnames=True)
freqItemsets.to_csv(define_.FREQ_ITEMS_FILE_PATH)
freqItemsets

     support                                itemsets
0   0.997519                                  (c-A1)
1   0.993608                                 (l-0.0)
2   0.996210                                 (p-TCP)
3   0.999207                             (r-PRIVATE)
4   0.999793                                 (x-OUT)
5   0.993548                           (c-A1, l-0.0)
6   0.995271                           (c-A1, p-TCP)
7   0.996938                       (c-A1, r-PRIVATE)
8   0.997373                           (c-A1, x-OUT)
9   0.993401                          (p-TCP, l-0.0)
10  0.993401                      (l-0.0, r-PRIVATE)
11  0.993401                          (l-0.0, x-OUT)
12  0.996210                      (p-TCP, r-PRIVATE)
13  0.996210                          (p-TCP, x-OUT)
14  0.999207                      (x-OUT, r-PRIVATE)
15  0.993401                    (c-A1, p-TCP, l-0.0)
16  0.993401                (c-A1, l-0.0, r-PRIVATE)
17  0.993401                    (c-A1, l-0.0, x-OUT)
18  0.995271                (c-A1, p-TCP, r-PRIVATE)
19  0.995271                    (c-A1, p-TCP, x-OUT)
20  0.996938                (c-A1, x-OUT, r-PRIVATE)
21  0.993401               (p-TCP, l-0.0, r-PRIVATE)
22  0.993401                   (p-TCP, l-0.0, x-OUT)
23  0.993401               (l-0.0, x-OUT, r-PRIVATE)
24  0.996210               (p-TCP, x-OUT, r-PRIVATE)
25  0.993401         (c-A1, p-TCP, r-PRIVATE, l-0.0)
26  0.993401             (c-A1, p-TCP, x-OUT, l-0.0)
27  0.993401         (c-A1, l-0.0, x-OUT, r-PRIVATE)
28  0.995271         (c-A1, p-TCP, x-OUT, r-PRIVATE)
29  0.993401        (p-TCP, l-0.0, x-OUT, r-PRIVATE)
30  0.993401  (c-A1, l-0.0, r-PRIVATE, p-TCP, x-OUT)

In [9]:
freq = pd.read_csv(define_.FREQ_ITEMS_FILE_PATH)
df = apriori_functions.freqItemToDF(freq.to_numpy())
df.to_csv(define_.FREQ_ITEM_FORMATTED_FILE_PATH)

TypeError: 'int' object is not iterable

In [7]:
rules = association_rules(freqItemsets, metric="confidence", min_threshold=0.1)
rules = rules[(rules['consequents'] == {'c-A1'}) |
                (rules['consequents'] == {'c-A2'}) |
                (rules['consequents'] == {'c-A3'}) &
                (('c-A1' not in  (rules.antecedents.to_list())) |
                ('c-A2' not in  (rules.antecedents.to_list())) |
                ('c-A3' not in  (rules.antecedents.to_list())))
]

rules['antecedents'] = rules.apply(lambda row: apriori_functions.convertToStringList(str(list(row['antecedents']))), axis=1)
rules['consequents'] = rules.apply(lambda row: apriori_functions.convertToStringList(str(list(row['consequents']))), axis=1)
rules.reset_index(inplace=True)
rules.to_csv(define_.FINAL_RULES_FILE_PATH, index=False)
rules

,index,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,1,[l-0.0],[c-A1],0.993608,0.997519,0.993548,0.999939,1.002426,0.002404,40.655134
1,3,[p-TCP],[c-A1],0.996210,0.997519,0.995271,0.999057,1.001541,0.001532,2.629781
2,5,[r-PRIVATE],[c-A1],0.999207,0.997519,0.996938,0.997729,1.000211,0.000210,1.092674
3,7,[x-OUT],[c-A1],0.999793,0.997519,0.997373,0.997579,1.000060,0.000060,1.024840
4,22,"[p-TCP, l-0.0]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf
5,28,"[l-0.0, r-PRIVATE]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf
6,34,"[l-0.0, x-OUT]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf
7,40,"[p-TCP, r-PRIVATE]",[c-A1],0.996210,0.997519,0.995271,0.999057,1.001541,0.001532,2.629781
8,46,"[p-TCP, x-OUT]",[c-A1],0.996210,0.997519,0.995271,0.999057,1.001541,0.001532,2.629781
9,52,"[x-OUT, r-PRIVATE]",[c-A1],0.999207,0.997519,0.996938,0.997729,1.000211,0.000210,1.092674
10,83,"[p-TCP, l-0.0, r-PRIVATE]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf
11,97,"[p-TCP, l-0.0, x-OUT]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf
12,111,"[l-0.0, x-OUT, r-PRIVATE]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf
13,125,"[p-TCP, x-OUT, r-PRIVATE]",[c-A1],0.996210,0.997519,0.995271,0.999057,1.001541,0.001532,2.629781
14,154,"[p-TCP, l-0.0, x-OUT, r-PRIVATE]",[c-A1],0.993401,0.997519,0.993401,1.000000,1.002487,0.002465,inf

In [12]:
rules = pd.read_csv(define_.FINAL_RULES_FILE_PATH)

In [8]:
# r, c = final_Rules.shape
featureList = [define_.P_TCP, define_.P_HTTP,define_.P_SSH,define_.P_DNS,define_.P_ARP, define_.P_SSHV2,define_.L_0, define_.L_1, define_.L_2, define_.D_80, define_.D_42972, define_.D_34230, define_.D_50822, define_.D_53, define_.D_22, define_.D_56040, define_.D_161, define_.D_443,
                                      define_.R_PUBLIC, define_.R_PRIVATE, define_.R_NON, define_.X_IN, define_.X_OUT, define_.X_NON]

oneHotEncodedDF = pd.DataFrame(apriori_functions.oneHot(rules,featureList), columns=featureList)
oneHotEncodedDF.to_csv(define_.TRAIN_ENCODED)

In [30]:

oneHotEncodedDF["Y"] = rules['consequents']
oneHotEncodedDF

,p-TCP,p-HTTP,p-SSH,p-DNS,p-ARP,p-SSHv2,l-0.0,l-1.0,l-2.0,d-80,...,d-56040,d-161,d-443,r-PUBLIC,r-PRIVATE,r-NON,x-IN,x-OUT,x-NON,Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[c-A1]
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[c-A1]
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,[c-A1]
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,[c-A1]
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[c-A2]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,[c-A3]
73,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,[c-A3]
74,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,[c-A3]
75,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,[c-A2]
76,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,[c-A3]

In [ ]:
# input :
#     freqItemsets
#     dataSet
#     lower bound-minmum support
#     decrement step sizes of minimum support
#     increment step sizes of minimum support
#     look-back time-slots

# def MFI_Iter(pattern, freq, data_t, min_sup, l_min_sup):
#
#
#
# def pattern_search(freq, data, min_sup, l_min_sup, step_dec, step_inc, tw):

for min_Supp(0 - 100 ):
    find frequent itemsets

KeyError: 'frozenset({\'z\', \'e\', \'9\', \'f\', \'s\', \'}\', \'(\', \'_\', \'{\', \')\', \'r\', "\'", \'o\', \'0\', \'n\', \'4\'})You are likely getting this error because the DataFrame is missing  antecedent and/or consequent  information. You can try using the  `support_only=True` option'